*.avi
*.d
*.o
*.png
*.dbg
*.jpg
*.PNG
*.BMP
*.JPG
*.*~
.project
config.ini
cmake_install.cmake
*language.settings.xml
*metadata*
*Release*
*Debug*
.settings/
Makefile
CMakeFiles/
CMakeCache.txt
RemoteSystemsTempFiles
*.pro.user
*build*
