*.avi
*.d
*.o
*.png
*.dbg
*.PNG
*.BMP
*.*~
*.k4dev
.project
config.ini
cmake_install.cmake
*language.settings.xml
*metadata*
*Release*
*Debug*
.settings/
./output
Makefile
CMakeFiles/
CMakeCache.txt
RemoteSystemsTempFiles
*.pro.user
*build*
